@model  List<DBModel.Message>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>lmgl</title>
    <link href="~/Content/Admin/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/admin.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Admin/js/index.js"></script>
</head>
<body style="width:97.5%;">

    <div class="dyj_grzx">
        <div class="grzx_top">
            <h1>留言管理</h1>
        </div>
        <div class="grzx_main">
            <div style="overflow:auto;">
                <table border="0" cellspacing="0">
                    <tr>
                        <td>ID</td>
                        <td>产品名称</td>
                        <td>排序</td>
                        <td>创建时间</td>
                        <td>操作</td>
                    </tr>
                    @if (Model != null)
                    {
                        foreach (var m in Model)
                        {
                            <tr>
                                <td>@m.Id</td>
                                <td>@m.Name</td>
                                <td>@m.Sort</td>
                                <td>@m.Cdate</td>
                                <td>
                                    @*<a href="/Admin/Message_active?id=@m.Id" onclick="return confirm('是否查看详细？')" class="fa fa-pencil" title="查看详细"></a>*@
                                    <a href="/Admin/Product_Delete?id=@m.Id&name=Message" onclick="return confirm('是否删除？')" class="fa fa-trash-o" title="删除"></a>
                                </td>
                            </tr>
                        }

                    }
                </table>
            </div>
        </div>
    </div>
</body>

</html>
