@model List<DBModel.Rotation>
@{
    ViewBag.Title = "Cases";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>lmgl</title>
    <link href="~/Content/Admin/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/admin.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Admin/js/index.js"></script>
</head>
<body style="width:97.5%;">

    <div class="dyj_grzx">
        <div class="grzx_top">
            <h1>栏目管理</h1>
            <h3 style="right:0"><a style="float:right;right:0;" href="/Admin/Rotation_Edit">添加栏目</a></h3>
        </div>
        <div class="grzx_main">
            <div style="overflow:auto;">
                <table border="0" cellspacing="0">
                    <tr>
                        <td>编号</td>
                        <td>名称</td>
                        <td>排序</td>
                        <td>是否隐藏</td>
                        <td>操作</td>
                    </tr>
                    @if (Model != null)
                    {
                        foreach (var m in Model)
                        {
                            <tr>
                                <td>@m.Id</td>
                                <td>@m.Title</td>
                                <td>@m.Sort</td>
                                <td>
                                    @if (m.IsHide)
                                    {
                                        <a style="color:green" href="/Admin/UpdatProHide?ishide=@m.IsHide.ToString()&id=@m.Id&name=Rotation" onclick="return confirm('是否显示？')">是</a>
                                    }
                                    else
                                    {
                                        <a style="color:red" href="/Admin/UpdatProHide?ishide=@m.IsHide.ToString()&id=@m.Id&name=Rotation" onclick="return confirm('是否隐藏？')">否</a>
                                    }
                                </td>
                                <td>
                                    <a href="/Admin/Rotation_Edit?id=@m.Id" onclick="return confirm('是否编辑？')" class="fa fa-pencil" title="编辑"></a>
                                    <a href="/Admin/Product_Delete?id=@m.Id&name=Rotation" onclick="return confirm('是否删除？')" class="fa fa-trash-o" title="删除"></a>
                                </td>
                            </tr>
                        }

                    }
                </table>
            </div>
        </div>
    </div>
</body>

</html>


