@font-face {
    font-family:Font_Bold;
    src:url('../fonts/SourceHanSansCN-Bold.otf')
}
@font-face {
    font-family:Font_Light;
    src:url('../fonts/SourceHanSansCN-Light.otf')
}
@font-face {
    font-family:Font_Medium;
    src:url('../fonts/SourceHanSansCN-Medium.ttf')
}
@font-face {
    font-family:Font_Normal;
    src:url('../fonts/SourceHanSansCN-Normal.otf')
}
@font-face {
    font-family:Font_Regular;
    src:url('../fonts/SourceHanSansCN-Regular.ttf')
}
@font-face{
    font-family:Font_Light2;
    src:url('../fonts/STHeiti-Light.ttc')
}
@font-face{
    font-family:Font_Stheitisc;
    src:url('../fonts/stheitisc.ttf')
}