
@{
    ViewBag.Title = "Contact_Us";
}

<div class="mainer">
    <div class="dyj_lxwm">
        <div class="dyj_lxwm_bt">
            <div class="wrap">
                <span>联系我们</span>
                <p><a href="#">首页</a>/ 联系我们</p>
            </div>
        </div>
        <div class="wrap">
            <div class="dyj_lxwm_main">
                <ul>
                    <li><input type="text" id="dj" placeholder="你的名字"></li>
                    <li><input type="text" placeholder="你的邮箱"></li>
                    <li><input type="text" placeholder="主题"></li>
                    <li><textarea placeholder="留言"></textarea></li>
                </ul>
                <button>提交</button>
            </div>
        </div>
    </div>
</div>