@{var info = ViewBag.info;}
<div class="footer">
    <div class="wrap2" style="margin:0 auto;">
        <div class="yf_bottom_top">
            <ul>
                <li>
                    <i class="fa fa-home"></i>
                    <span>@info.address </span>
                </li>
                <li>
                    <i class="fa fa-mobile-phone"></i>
                    <span>电话：@info.phone</span>
                </li>
                <li>
                    <i class="fa fa-globe"></i>
                    <span>传真  @info.fax</span>
                </li>
                <li>
                    <i class="fa fa-envelope"></i>
                    <span>电子邮件：@info.email</span>
                </li>
            </ul>
        </div>
        <div class="yf_bottom_text">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </li>
            </ul>
        </div>
        <div class="yf_bottom_bottom">
            <span>@info.benan</span>
        </div>
    </div>
</div>